<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="AOS.My.MySettings.AOSDataConnectionString" connectionString="Data Source=localhost;Initial Catalog=AOSTest;Persist Security Info=True;User ID=AOSUser;Password=Chemica1" providerName="System.Data.SqlClient"
        xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="AOS.My.MySettings.AOSDataConnectionString1" connectionString="Data Source=localhost;Initial Catalog=AOSTest;Persist Security Info=True;User ID=AOSUser;Password=Chemica1"  providerName="System.Data.SqlClient"
        xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <EntitySpaces>
    <connectionInfo default="SQL">
      <connections>
        <add name="SQL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="User ID=AOSUser;Password=Chemica1;Initial Catalog=AOSTest;Data Source=localhost" databaseVersion="2005"
             xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      </connections>
    </connectionInfo>
  </EntitySpaces>

  <userSettings>
    <AOS.My.MySettings>
      <setting name="SQLDatabaseServerName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>localhost</value>
      </setting>
    </AOS.My.MySettings>
  </userSettings>

  <applicationSettings>
    <AOS.My.MySettings>
      <setting name="AOS_ProductionOrder_ProductionOrder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://192.168.1.52:81/aos_mobile_webservices/ProductionOrder.asmx</value>
      </setting>
      <setting name="SQLDatabaseUserName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>AOSUser</value>
      </setting>
      <setting name="SQLDatabaseUserPassword" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Chemica1</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>AOSTest</value>
      </setting>
    </AOS.My.MySettings>
  </applicationSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmailService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:82/EmailService/EmailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
        contract="EmailService.IEmailService" name="BasicHttpBinding_IEmailService"
          xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

</configuration>